<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER FORM</title>
    <link rel="stylesheet" href="preloaderStyle.css">
    <link rel="stylesheet" href="style.css"> <!-- Link to your common CSS file -->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/learning/static/style.css">
    <link rel="stylesheet" herf="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
</head>

<body>
       <!-- preloader -->
  <div id="preloader">
    <div class="wrapper">
        <div class="box-wrap">
            <div class="box one"></div>
            <div class="box two"></div>
            <div class="box three"></div>
            <div class="box four"></div>
            <div class="box five"></div>
            <div class="box six"></div>
        </div>
    </div>
</div>
    <header class="header" id="header">
          <div class="logo">
            <a href="/"> <img src="images/logo.png" alt="Logo" srcset=""> </a>
            <i class="fa-solid fa-bars menu" id="menu"></i>
        </div>

        
        <nav class="bg-neutral-100 py-20">
            <div class="tabs-container">
                <ul id="tabs" class="tabs">
                    <li class="tab">
                        <a href="index.html">Home</a>
                        <div class="cursor"></div>
                    </li>
                    <li class="tab">
                        <a href="about.html">About</a>
                        <div class="cursor"></div>
                    </li>
                    <li class="tab">
                        <a href="features.html">Features</a>
                        <div class="cursor"></div>
                    </li>
                    <li class="dropdown tab">
                        <a class="dropdown-parent">Products</a>
                        <div class="cursor"></div>
                        <ul class="dropdown-content ">
                            <li><a href="mens.html" class="priye">Men</a>
                            </li>
                            <li><a href="womens.html">Women</a></li>
                        </ul>
                    </li>
                    <li class="tab" style="margin-left: 15px;">
                        <a href="contact.html">Contact Us</a>
                        <div class="cursor"></div>
                    </li>
                </ul>
            </div>
        </nav>

        <nav class="utils">
            <ul class="nav-links">
                <li class="nav-link">
                    <i class="fa-solid fa-cart-shopping"></i>
                </li>
                <li class="nav-link">
                    <a href="login-sginup.html">
                    <i class="fa-solid fa-user"></i>
                </a>
                </li>
                <li class="nav-link">
                    <i class="fa-solid fa-magnifying-glass"></i>
                </li>
            </ul>
        </nav>

    </header>
    <div class="row">
        <div class="col-12">
            <form >
                <div>
                    <label for="">Value1</label>
                    <input type="text" name="num1" class="form-control">
                </div>
                <div>
                    <label for="">Value2</label>
                    <input type="text" name="num2" class="form-control">
                </div>
                <div class="pt2">
                    <input type="submit" value="submit">
                </div>
                output
                <div>
                <input type="text" value="{{output}}">
            </div>
            


            </form>
        </div>

    </div>
